
{% extends 'app/base.html' %} 

{% load static %}
{% include 'app/navbar.html'%} 

{% block content %}

<div class="about-section">
    <div class="about-header">
      <h1>About Us</h1>
      <p class="about-description"> "Books are gateways to new worlds, expanding our minds, fostering empathy, and igniting a lifelong passion for learning." </p>
    
    <div class="about-container">
      <div class="about-image">
        <img src="{% static 'images/flippedbook.jpg' %}" alt="Coffee Cup">
      </div>
      <div class="about-info">
        <div class="about-details">
          <h3>Warm embrace in a cup</h3>
          <p class="about-text">Welcome to our Library Log System! We enhance the library experience for students and staff by providing an efficient way to manage resources. Our system allows users to easily find available books, track entries and exits for safety, and streamline book borrowing. Committed to user-friendliness and accessibility, we support the educational community and foster a love for reading. Join us in transforming the library experience!</p>
          <button class = "about-button" onclick="alertButton()">Read More</button> 


        </div>
      </div>
    </div>
  </div>
  
  
  
{% endblock %}