{% extends 'app/base.html' %} 

{% load static %}
{% include 'app/navbar.html'%} 

{% block content %}
    <div class="crud-section"> <!-- Wrap the CRUD content -->
        <div class="crud-container">
          
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>chris</td>
                        <td>chrisssss.com</td>
                        <td>09559598559</td>
                        <td>
                            <a href="#" class="edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>bertillo</td>
                        <td>bertillo.com</td>
                        <td>0905995599</td>
                        <td>
                            <a href="#" class="edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}