{% extends 'app/base.html' %} 
{%load static%}

{% block content%} 
<div class = "landing-page"> 

<div class="content">
    <div class="container">
      <div class="info">
        <h1>Looking For Inspiration</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
        <button>Button name</button>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png">
      </div>
    </div>
  </div>
</div>
</div> 

    

    
    <script src = "{% static 'js/base.js'%}"> </script> 
{% endblock%} 

{% comment %} 
    <h1>Home</h1>
    <p>This is a simple HTML page.</p>
    <img class = "my-logo" src = "{% static 'images/logo.png' %}"> </img> 
    
 <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css" />
    
     {% endcomment %}




