{% extends 'app/base.html' %} 
{%load static%}

{% block content%} 
<div class = "landing-page"> 

<div class="content">
    <div class="container">
      <div class="info">
        <h1>Welcome to RentRide CRM!</h1>
        <p>Your comprehensive solution for efficiently managing motorbike rentals and enhancing the customer experience.</p>
        
        
        <button onclick="alertButton()" class="button1">Welcome!</button>
      </div>
      <div class="image">
        <img src = "{% static 'images/ride.png' %}"> 
      </div>
    </div>
  </div>
</div>
</div> 

    



{% endblock%} 





