<!-- navbar.html -->
<!-- Start Navbar -->
 {%load static%}
<div class = "landing-page"> 
<header>
    <div class="container">
      <a href="#" class="logo">Chris <b>ss</b></a>
      <ul class="links">
        <li><a href = "{% url 'home' %}" > Home </a></li>
        <li><a href = "{% url 'about' %}" > About </a></li>
        <li><a href = "{% url 'contact' %}" > Contact </a></li>
        <li class = "li-admin"><a href = "{% url 'contact' %}" > <i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
      <li> </li>
      </ul>
    </div>
  </header>

</div>
  <!-- End Navbar -->
  