
{% extends 'app/base.html' %} 

{% load static %}


{% block content %}
<div class="login-container">
    <form method="POST" id="loginForm" action="{% url 'signIn' %}">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-input" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-input" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="form-submit">Login</button>
        <div class="form-footer">
            <a href="">Don't have an account yet?</a><br>
            <a href="#">Forgot Password?</a>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %} 
        </ul>
    {% endif %}
</div>


{% endblock content %}